header{
    margin:10px 80px;
    
    
}
nav>ul li{
    list-style: none;
    padding-right: 25px;
    
}
nav>ul>li a:hover{
    color: #FF5400;
}



nav>ul li>a{
    text-decoration: none;
    color: black;
}
nav>ul{
    display: flex;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bars>a i{
    display: none;
}
.hide>a{
    display: block;
    
}
.banner{
    
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../images/Group-13.png);
    background-repeat: no-repeat;
    height: 500px;
    width: 1170px;
    margin: 80px;
    border-radius: 15px;
}
.banner-tagline{
    text-align: center;
    padding: 80px 0px;
}
.banner-tagline h1{
    color: #FFF;
font-family: Mulish;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.banner-tagline p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.input-box{
    display: inline-flex;
padding: 35px 10px 5px 20px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
width: 800px;
height: 84px;
margin: 0px 0px 0px 0px;
}
.input-box input{
    
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: 0;
margin-left: 0px;
}

input[type=text]{
    background-image: url(../images/Frame.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-position-y: center;
   
   padding-left: 5px;
    

}
.btn-find{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: 0;
}
.popular{
    
    display: flex;
    align-items: center;
}
.popular-description{
    width: 577px;
    margin: 10px 100px;
}
.popular-description h3{
    color: #131318;

font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.popular-description p{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.popular-description>ul li{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.popular-image img{
   height: 400px;
   width: 420px;
   border-radius: 15px;
   margin-left: 35px;
   margin-top: 40px;
}
.btn-read{
    border: 0;
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.choose{
   
    text-align: center;
}
.choose h3{
    text-align: center;
}
.choose p{
    text-align: center;
}
.choose-img-section{
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.row1{
    display: flex;
    margin: 5px 95px;
    
}
.img1{
    margin-right: 10px;
    position: relative;
    text-align: center;
}
.img1 img{
    width: 100%;
    height: 300px;
}

.img1 h3{
    position: absolute;
    
    position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.img2{
    margin-right: 0px;
    position: relative;
    text-align: center;
}
.img2 img{
    width: 120%;
    height: 300px;
}

.img2 h3{
    position: absolute;
    
    position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}




.row2{
    display: flex;
    margin: 5px 90px;
    
}
.img3{
    margin-right: 5px;
    position: relative;
    text-align: center;
}
.img3 img{
    width: 100%;
    height: 300px;
}
.img3 h3{
    position: absolute;
    
    position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.img4{
    margin-right: 5px;
    position: relative;
    text-align: center;
}
.img4 img{
    width: 100%;
    height: 300px;
}
.img4 h3{
    position: absolute;
    
    position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.img5{
    position: relative;
    text-align: center;
}
.img5 img{
    width: 100%;
    height: 300px;
}
.img5 h3{
    position: absolute;
    
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.row3{
    display: flex;
    margin: 5px 89px;
}
.img6{
    
    position: relative;
    margin-right: 0px;
    text-align: center;
}
.img6 img{
    width: 100%;
    height: 300px;
}
.img6 h3{
    position: absolute;
    
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.img7{
    margin-right: 5px;
    text-align: center;
    
    position: relative;
}
.img7 img{
    width: 100%;
    height: 300px;
}
.img7 h3{
    position: absolute;
    
    position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}







.why> h3{
    text-align: center;
}
.why >p{
    text-align: center;
}
.flex{
    display: flex;
   
}

.price{
    width: 45%;
    margin:40px auto;
    border: 0;
height: 310px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}
.price> img{
    margin-left: 10px;
    margin-top: 10px;
}
.price>h3{
    color: #131318;
    margin-left: 10px;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.price>p{
    color: #5A5A5D;
    margin-left: 10px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.hotels> h3{
    color: #131318;
margin-left: 10px;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.service> h3{
    color: #131318;
    margin-left: 10px;

font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.service>p{
    margin-left: 10px;

    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.service>ul>li{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 10px;

}
.hotels>p{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
margin-left: 10px;

font-weight: 400;
line-height: 26px; /* 162.5% */
}
.hotels{
    width: 45%;
    height: 310px;
    margin:0 50px;
    border: 0;
    
    flex-shrink: 0;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.hotels img{
margin-left: 10px;
margin-top: 10px;
}
.service img{
    margin-left: 10px;
    margin-top: 10px;
}
.service{
    width: 45%;
    border: 0;
    height: 310px;
    margin-right: auto;
    flex-shrink: 0;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.news{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.newsletter{
    width: 30%;
    margin-left: 180px;
    margin-right: 50px;
    padding-left: 20px;
    padding-top: 20px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid #FF5400;
}
.newsletter input{
    width: 90%;
    height: 42px;
    margin-bottom: 10px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: 1px solid rgba(19, 19, 24, 0.05);
    
}
.discount{
    width: 60%;
    position: relative;
    
}
.discount img{
    height: 320px;
    width: auto;
   
}
.btn-save{
    position: absolute;
    right: 180px;
    bottom: 30px;
    width: 150px;
height: 50px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 6px;
background: #FF5400;
border: 0;
}
.extra>ul{
    border: 0;
    background-color: gainsboro;
    margin: 0px 20px;
    padding: 20px 10px;
    border-radius: 15px;
}
.extra>ul>li{
    text-align: center;
    list-style: none;
    font-size: 20px;
}



footer{
    background-color:gainsboro;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}
.hidden{
    display: none;
}

  



@media screen and (max-width:600px){
    .why> h3{
        text-align: center;
    }
    .why >p{
        text-align: center;
    }
    .flex{
        display: flex;
        flex-direction: column;
       
    }
    
    .price{
        width: 100%;
        margin:40px auto;
        border: 0;
    height: 310px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    }
    .price> img{
        margin-left: 10px;
        margin-top: 10px;
    }
    .price>h3{
        color: #131318;
        margin-left: 10px;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .price>p{
        color: #5A5A5D;
        margin-left: 10px;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
    }
    .hotels> h3{
        color: #131318;
    margin-left: 10px;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .service> h3{
        color: #131318;
        margin-left: 10px;
    
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .service>p{
        margin-left: 10px;
    
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }
    .service>ul>li{
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-left: 10px;
    
    }
    .hotels>p{
        color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    margin-left: 10px;
    
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    }
    .hotels{
        width: 100%;
        height: 320px;
        margin:20px 0px;
        border: 0;
        
        flex-shrink: 0;
        border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    }
    .hotels img{
    margin-left: 10px;
    margin-top: 10px;
    }
    footer{
        background-color:gainsboro;
        text-align: center;
        width: 100%;
        padding: 10px 0px;
    }
    .service img{
        margin-left: 10px;
        margin-top: 10px;
    }
    .service{
        width: 100%;
        border: 0;
        height: 320px;
        margin-right: auto;
        flex-shrink: 0;
        border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    }
    .news{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    
    .newsletter{
        width: 50%;
        margin-left: 130px;
        margin-right: 0px;
        padding-left: 20px;
        padding-top: 20px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-bottom: 10px;
    }
    .newsletter input{
        width: 90%;
        height: 42px;
        margin-bottom: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 1px solid rgba(19, 19, 24, 0.05);
        
    }
    .discount{
        width: 60%;
        position: relative;
        
    }
    .discount img{
        height: 320px;
        width: 160%;
       
    }
    .btn-save{
        position: absolute;
        right: -170px;
        bottom: 30px;
       
        width: 150px;
    height: 50px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 6px;
    background: #FF5400;
    border: 0;
    }
    header{
        margin: 0px 80px;
    }
    .bars>a i{
        display: block;
    }
    .hide>a{
        display: none;
        
    }
    .banner{
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../images/Group-13.png);
        background-repeat: no-repeat;
        width: 400px;
height: 520px;
flex-shrink: 0;
       
        margin: 0px auto;
        border-radius: 15px;
    }
    .input-box{
        display: flex;
        padding: 20px 0px 20px 70px;
width: 250px;
height: 260px;

flex-direction: column;
align-items: flex-start;
gap: 16px;
margin: 0px 0px 0px 43px;

    }
    .banner-tagline{
        text-align: center;
        padding: 0px;
        padding-top: 0px 0px;
    }
    .banner-tagline h1{
        color: #FFF;
    font-family: Mulish;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    }
    .banner-tagline p{
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; 
    }
    .input-box input{
    
        width: 250px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin-left:-37px;
    }
    input[type=text]{
        background-image: url(../images/Frame.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-position-y: center;
       
       padding-left: 5px;
        
    
    }
    .btn-find{
        width: 250px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    margin-left: -37px;
    }
    .popular{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .popular-description{
        width: 400px;
        margin: 20px;
    }
    .popular-image img{
        height: 400px;
        width: 400px;
        border-radius: 15px;
        margin-left: 5px;
        margin-top: 40px;
     }
     .choose{
   
        text-align: center;
    }
    .choose h3{
        text-align: center;
    }
    .choose p{
        text-align: center;
    }
    .choose-img-section{
        margin-left: 0px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .row1{
        display: flex;
        flex-direction: column;
        margin: 5px 10px;
        
    }
    .img1{
        margin-right: 10px;
        position: relative;
        text-align: center;
    }
    .img1 img{
        width: 100%;
        height: 300px;
    }
    
    .img1 h3{
        position: absolute;
        
        position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .img2{
        margin-right: 0px;
        position: relative;
        text-align: center;
    }
    .img2 img{
        width: 100%;
        height: 300px;
    }
    
    .img2 h3{
        position: absolute;
        
        position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    
    
    
    
    .row2{
        display: flex;
        flex-direction: column;
        margin: 5px 10px;
        
    }
    .img3{
        margin-right: 5px;
        position: relative;
        text-align: center;
    }
    .img3 img{
        width: 100%;
        height: 300px;
    }
    .img3 h3{
        position: absolute;
        
        position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
    }
    .img4{
        margin-right: 5px;
        position: relative;
        text-align: center;
    }
    .img4 img{
        width: 100%;
        height: 300px;
    }
    .img4 h3{
        position: absolute;
        
        position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
    }
    .img5{
        position: relative;
        text-align: center;
    }
    .img5 img{
        width: 100%;
        height: 300px;
    }
    .img5 h3{
        position: absolute;
        
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .row3{
        display: flex;
        flex-direction: column;
        margin: 5px 10px;
    }
    .img6{
        
        position: relative;
        margin-right: 0px;
        text-align: center;
    }
    .img6 img{
        width: 100%;
        height: 300px;
    }
    .img6 h3{
        position: absolute;
        
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .img7{
        margin-right: 5px;
        text-align: center;
        
        position: relative;
    }
    .img7 img{
        width: 100%;
        height: 300px;
    }
    .img7 h3{
        position: absolute;
        
        position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    
   
}
@media screen and (min-width:992px) and (max-width:1300px){
    footer{
        background-color:gainsboro;
        text-align: center;
        width: 100%;
        padding: 10px 0px;
    }
    .flex{
        display: flex;
       
    }
    
    .price{
        width: 45%;
        margin:40px auto;
        border: 0;
    height: 362px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    }
    .price> img{
        margin-left: 10px;
        margin-top: 10px;
    }
    .price>h3{
        color: #131318;
        margin-left: 10px;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .price>p{
        color: #5A5A5D;
        margin-left: 10px;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
    }
    .hotels> h3{
        color: #131318;
    margin-left: 10px;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .service> h3{
        color: #131318;
        margin-left: 10px;
    
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .service>p{
        margin-left: 10px;
    
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }
    .service>ul>li{
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-left: 10px;
    
    }
    .hotels>p{
        color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    margin-left: 10px;
    
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    }
    .hotels{
        width: 45%;
        height: 362px;
        margin:0 30px;
        border: 0;
        
        flex-shrink: 0;
        border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    }
    .hotels img{
    margin-left: 10px;
    margin-top: 10px;
    }
    .service img{
        margin-left: 10px;
        margin-top: 10px;
    }
    .service{
        width: 45%;
        border: 0;
        height: 362px;
        margin-right: auto;
        flex-shrink: 0;
        border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    }
    .extra>ul{
        border: 0;
        background-color: gainsboro;
        
        padding: 20px 10px;
        border-radius: 15px;
    }
    .extra>ul>li{
        text-align: center;
        list-style: none;
        font-size: 20px;
    }
    .news{
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    
    .newsletter{
        width: 30%;
        margin-left: 70px;
        margin-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    }
    .newsletter input{
        width: 90%;
        height: 42px;
        margin-bottom: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 1px solid rgba(19, 19, 24, 0.05);
        
    }
    .discount{
        width: 100%;
        position: relative;
        
    }
    .discount img{
        height: 340px;
        width: auto;
        
        
       
    }
    .btn-save{
        
        position: absolute;
        left: 300px;
        bottom: 10px;
        width: 150px;
    height: 50px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 6px;
    background: #FF5400;
    border: 0;
    }
    header{
        margin:10px 50px;
        
        
    }
    nav>ul li{
        list-style: none;
        padding-right: 25px;
    }
    
    nav>ul li>a{
        text-decoration: none;
        color: black;
    }
    nav>ul{
        display: flex;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .bars>a i{
        display: none;
    }
    .hide>a{
        display: block;
        
    }
    .banner{
    
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../images/Group-13.png);
        background-repeat: no-repeat;
        height: 500px;
        width: 92%;
        margin: 30px;
        border-radius: 15px;
    }
    .banner-tagline{
        text-align: center;
        padding: 80px 0px;
    }
    .banner-tagline h1{
        color: #FFF;
    font-family: Mulish;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .banner-tagline p{
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    }
    .input-box{
        display: inline-flex;
    padding: 35px 10px 5px 20px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    height: 84px;
    margin: 0px 0px 0px 0px;
    }
    .input-box input{
        
        width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin-left: 0px;
    }
    
    input[type=text]{
        background-image: url(../images/Frame.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-position-y: center;
       
       padding-left: 5px;
        
    
    }
    .btn-find{
        width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    }
    .popular{
        display: flex;
        
        align-items: center;
    }
    .popular-description{
        width: 477px;
        margin: 10px 50px;
    }
    .popular-image img{
        height: 400px;
        width: 490px;
        border-radius: 15px;
        margin-left: 5px;
        margin-top: 40px;
     }.choose{
   
        text-align: center;
    }
    .choose h3{
        text-align: center;
    }
    .choose p{
        text-align: center;
    }
    .choose-img-section{
        margin-left: 0px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .row1{
        display: flex;
        margin: 5px 95px;
        
    }
    .img1{
        margin-right: 10px;
        position: relative;
        text-align: center;
    }
    .img1 img{
        width: 100%;
        height: 300px;
    }
    
    .img1 h3{
        position: absolute;
        
        position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .img2{
        margin-right: 0px;
        position: relative;
        text-align: center;
    }
    .img2 img{
        width: 120%;
        height: 300px;
    }
    
    .img2 h3{
        position: absolute;
        
        position: absolute;
      top: 45%;
      left: 60%;
      transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    
    
    
    
    .row2{
        display: flex;
        margin: 5px 90px;
        
    }
    .img3{
        margin-right: 5px;
        position: relative;
        text-align: center;
    }
    .img3 img{
        width: 100%;
        height: 300px;
    }
    .img3 h3{
        position: absolute;
        
        position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
    }
    .img4{
        margin-right: 5px;
        position: relative;
        text-align: center;
    }
    .img4 img{
        width: 100%;
        height: 300px;
    }
    .img4 h3{
        position: absolute;
        
        position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
    }
    .img5{
        position: relative;
        text-align: center;
    }
    .img5 img{
        width: 100%;
        height: 300px;
    }
    .img5 h3{
        position: absolute;
        
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .row3{
        display: flex;
        margin: 5px 89px;
    }
    .img6{
        
        position: relative;
        margin-right: 0px;
        text-align: center;
    }
    .img6 img{
        width: 100%;
        height: 300px;
    }
    .img6 h3{
        position: absolute;
        
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .img7{
        margin-right: 5px;
        text-align: center;
        
        position: relative;
    }
    .img7 img{
        width: 100%;
        height: 300px;
    }
    .img7 h3{
        position: absolute;
        
        position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
        color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
   
    .btn-save{
        position: absolute;
        right: 20px;
        bottom: 30px;
        width: 150px;
    height: 50px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 6px;
    background: #FF5400;
    border: 0;
    }
    
}