header{
    margin: 20px 100px;
}
nav>ul li{
    list-style: none;
    padding-right: 50px;
}

nav>ul li>a{
    text-decoration: none;
    color: black;
}
nav>ul{
    display: flex;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bars>a i{
    display: none;
}
.hide>a{
    display: block;
    
}
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../images/Group-13.png);
    background-repeat: no-repeat;
    height: 500px;
    margin: 0px 100px;
    border-radius: 15px;
}
.banner-tagline{
    text-align: center;
    padding: 80px 0px;
}
.banner-tagline h1{
    color: #FFF;
font-family: Mulish;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.banner-tagline p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.input-box{
    display: inline-flex;
padding: 35px 10px 5px 20px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
width: 800px;
height: 84px;
margin: 0px 0px 0px 0px;
}
.input-box input{
    
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: 0;
margin-left: 0px;
}
input[type=text]{
    background-image: url(../images/Frame.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-position-y: center;
    padding-left: 5px;
    

}
.btn-find{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: 0;
}


@media screen and (max-width:600px){
    .bars>a i{
        display: block;
    }
    .hide>a{
        display: none;
        
    }
    .banner{
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../images/Group-13.png);
        background-repeat: no-repeat;
        
       
        margin: 0px 100px;
        border-radius: 15px;
    }
    .input-box{
        display: flex;
        padding: 20px 0px 20px 70px;
width: 250px;
height: 260px;

flex-direction: column;
align-items: flex-start;
gap: 16px;
margin: 0px 0px 0px 23px;
    }
    .banner-tagline{
        text-align: center;
        padding: 0px;
        padding-top: 0px 0px;
    }
    .input-box input{
    
        width: 200px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin-left:-13px;
    }
   
}